<div class="catmain">
    <a href="/listings" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-hand-point-up"></i></div>
        <div class="cate">All Listing</div>
    </div>
    </a>
    <a href="/listings/category/resort" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-solid fa-hotel"></i></div>
        <div class="cate">Resort</div>
    </div>
    </a>
    <a href="/listings/category/river" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-lemon"></i></div>
        <div class="cate">River</div>
    </div>
    </a>
    <a href="/listings/category/restaurant" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-building"></i></div>
        <div class="cate">Restaurant</div>
    </div>
    </a>
    <a href="/listings/category/beach" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-hand"></i></i></div>
        <div class="cate">Beach</div>
    </div>
    </a>
    <a href="/listings/category/desert" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-snowflake"></i></div>
        <div class="cate">Desert</div>
    </div>
    </a>
    <a href="/listings/category/lake" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-regular fa-square-minus"></i></div>
        <div class="cate">Lake</div>
    </div>
    </a>
    <a href="/listings/category/other" class="catlink">
    <div class="cat">
        <div class="catlogo"><i class="fa-solid fa-hotel"></i></div>
        <div class="cate">Other</div>
    </div>
    </a>
</hr>
</div>