<nav class="navbar navbar-expand-lg bg-body-light sticky-top border-bottom ">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i id="logo" class="fa-solid fa-gem"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link " aria-current="page" href="/">Home</a> -->
        <a class="nav-link" href="/listings">Explore</a>
      </div>
      
  <div class="navbar-nav ms-auto searching">
    <form class="d-flex" role="search" method="get" action="/listings/search" >
      <input id="sch" class="form-control me-2" type="search" name="q" placeholder="Search Destination" aria-label="Search"/>
      <button class="btn btn-dark sbtn" type="submit">Search</button>
    </form>
  </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Airbnb Your Home</a>
        <% if(!currUser){ %>
        <a class="nav-link "  href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } %>
        <% if(currUser){ %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>